In [2]:
import pandas as pd

In [66]:
df = pd.read_csv('sales_data_with_discounts.csv')
df

,Date,Day,SKU,City,Volume,BU,Brand,Model,Avg Price,Total Sales Value,Discount Rate (%),Discount Amount,Net Sales Value
0,01-04-2021,Thursday,M01,C,15,Mobiles,RealU,RU-10,12100,181500,11.654820,21153.498820,160346.501180
1,01-04-2021,Thursday,M02,C,10,Mobiles,RealU,RU-9 Plus,10100,101000,11.560498,11676.102961,89323.897039
2,01-04-2021,Thursday,M03,C,7,Mobiles,YouM,YM-99,16100,112700,9.456886,10657.910157,102042.089843
3,01-04-2021,Thursday,M04,C,6,Mobiles,YouM,YM-99 Plus,20100,120600,6.935385,8364.074702,112235.925298
4,01-04-2021,Thursday,M05,C,3,Mobiles,YouM,YM-98,8100,24300,17.995663,4372.946230,19927.053770
...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,15-04-2021,Thursday,L06,C,2,Lifestyle,Jeera,M-Casuals,1300,2600,15.475687,402.367873,2197.632127
446,15-04-2021,Thursday,L07,C,6,Lifestyle,Viva,W-Western,2600,15600,17.057027,2660.896242,12939.103758
447,15-04-2021,Thursday,L08,C,2,Lifestyle,Viva,W-Lounge,1600,3200,18.965550,606.897606,2593.102394
448,15-04-2021,Thursday,L09,C,3,Lifestyle,Jeera,M-Formals,1900,5700,16.793014,957.201826,4742.798174
449,15-04-2021,Thursday,L10,C,1,Lifestyle,Jeera,M-Shoes,3100,3100,15.333300,475.332295,2624.667705

In [80]:
model_net_sales = df.groupby(['BU', 'Brand', 'Model'])['Net Sales Value'].sum().astype(int).to_frame()
model_net_sales
#Revenue from each model of each brand

                                  Net Sales Value
BU        Brand   Model
FMCG      Babaji  Babaji Cream              19039
                  Babaji Oil                90878
                  Babaji Shampoo            35346
          Gear    Gear BB Cream             39107
                  Gear Cream                11544
                  Gear Oil                  21384
                  Gear Shampoo              16689
          Vedic   Vedic Cream               36108
                  Vedic Oil                 22302
                  Vedic Shampoo             35255
Lifestyle Jeera   M- Inners                 42238
                  M- T Shirts               61172
                  M-Casuals                 63056
                  M-Formals                 54961
                  M-Jeans                  140488
                  M-Shoes                   64208
          Viva    W-Casuals                 57911
                  W-Inners                  65336
                  W-Lounge                  48360
                  W-Western                144235
Mobiles   Orange  O-10                    1798310
                  O-11                    1821642
          RealU   RU-10                   1510554
                  RU-9                     281521
                  RU-9 Plus                875081
          Sumsang S-20                    1943894
                  S-21                    1350305
          YouM    YM-98                    392243
                  YM-99                   1210668
                  YM-99 Plus              1456002

In [91]:
mbl_net_sls = model_net_sales.loc['Mobiles','Net Sales Value'].sum()
lfs_net_sls = model_net_sales.loc['Lifestyle','Net Sales Value'].sum()
fmcg_net_sls = model_net_sales.loc['FMCG','Net Sales Value'].sum()

In [93]:
BU_net_sls = model_net_sales.index.get_level_values('BU').map({'Mobiles': mbl_net_sls , 'Lifestyle': lfs_net_sls, 'FMCG':fmcg_net_sls})

In [95]:
model_net_sales['BU Net Sales'] = BU_net_sls

In [96]:
model_net_sales

                                  Net Sales Value  BU Net Sales
BU        Brand   Model
FMCG      Babaji  Babaji Cream              19039        327652
                  Babaji Oil                90878        327652
                  Babaji Shampoo            35346        327652
          Gear    Gear BB Cream             39107        327652
                  Gear Cream                11544        327652
                  Gear Oil                  21384        327652
                  Gear Shampoo              16689        327652
          Vedic   Vedic Cream               36108        327652
                  Vedic Oil                 22302        327652
                  Vedic Shampoo             35255        327652
Lifestyle Jeera   M- Inners                 42238        741965
                  M- T Shirts               61172        741965
                  M-Casuals                 63056        741965
                  M-Formals                 54961        741965
                  M-Jeans                  140488        741965
                  M-Shoes                   64208        741965
          Viva    W-Casuals                 57911        741965
                  W-Inners                  65336        741965
                  W-Lounge                  48360        741965
                  W-Western                144235        741965
Mobiles   Orange  O-10                    1798310      12640220
                  O-11                    1821642      12640220
          RealU   RU-10                   1510554      12640220
                  RU-9                     281521      12640220
                  RU-9 Plus                875081      12640220
          Sumsang S-20                    1943894      12640220
                  S-21                    1350305      12640220
          YouM    YM-98                    392243      12640220
                  YM-99                   1210668      12640220
                  YM-99 Plus              1456002      12640220

In [117]:
df.groupby('Brand')['Net Sales Value'].sum().astype(int)

Brand
Babaji      145264
Gear         88725
Jeera       426125
Orange     3619953
RealU      2667157
Sumsang    3294200
Vedic        93665
Viva        315843
YouM       3058914
Name: Net Sales Value, dtype: int32

In [154]:
brand_sales = model_net_sales.groupby('Brand')['Net Sales Value'].sum().to_list()
brand_sales

[145263, 88724, 426123, 3619952, 2667156, 3294199, 93665, 315842, 3058913]

In [127]:
brands = set(model_net_sales.index.get_level_values('Brand'))
brands

{'Babaji',
 'Gear',
 'Jeera',
 'Orange',
 'RealU',
 'Sumsang',
 'Vedic',
 'Viva',
 'YouM'}

In [129]:
map_dict = {Brand: sales for Brand, sales in zip(brands, brand_sales)}

In [130]:
model_net_sales['Brand Net Sales'] = model_net_sales.index.get_level_values('Brand').map(map_dict)

In [131]:
model_net_sales

                                  Net Sales Value  BU Net Sales  \
BU        Brand   Model
FMCG      Babaji  Babaji Cream              19039        327652
                  Babaji Oil                90878        327652
                  Babaji Shampoo            35346        327652
          Gear    Gear BB Cream             39107        327652
                  Gear Cream                11544        327652
                  Gear Oil                  21384        327652
                  Gear Shampoo              16689        327652
          Vedic   Vedic Cream               36108        327652
                  Vedic Oil                 22302        327652
                  Vedic Shampoo             35255        327652
Lifestyle Jeera   M- Inners                 42238        741965
                  M- T Shirts               61172        741965
                  M-Casuals                 63056        741965
                  M-Formals                 54961        741965
                  M-Jeans                  140488        741965
                  M-Shoes                   64208        741965
          Viva    W-Casuals                 57911        741965
                  W-Inners                  65336        741965
                  W-Lounge                  48360        741965
                  W-Western                144235        741965
Mobiles   Orange  O-10                    1798310      12640220
                  O-11                    1821642      12640220
          RealU   RU-10                   1510554      12640220
                  RU-9                     281521      12640220
                  RU-9 Plus                875081      12640220
          Sumsang S-20                    1943894      12640220
                  S-21                    1350305      12640220
          YouM    YM-98                    392243      12640220
                  YM-99                   1210668      12640220
                  YM-99 Plus              1456002      12640220

                                  Brand Net Sales
BU        Brand   Model
FMCG      Babaji  Babaji Cream              88724
                  Babaji Oil                88724
                  Babaji Shampoo            88724
          Gear    Gear BB Cream            145263
                  Gear Cream               145263
                  Gear Oil                 145263
                  Gear Shampoo             145263
          Vedic   Vedic Cream             3619952
                  Vedic Oil               3619952
                  Vedic Shampoo           3619952
Lifestyle Jeera   M- Inners                426123
                  M- T Shirts              426123
                  M-Casuals                426123
                  M-Formals                426123
                  M-Jeans                  426123
                  M-Shoes                  426123
          Viva    W-Casuals               3058913
                  W-Inners                3058913
                  W-Lounge                3058913
                  W-Western               3058913
Mobiles   Orange  O-10                      93665
                  O-11                      93665
          RealU   RU-10                   3294199
                  RU-9                    3294199
                  RU-9 Plus               3294199
          Sumsang S-20                     315842
                  S-21                     315842
          YouM    YM-98                   2667156
                  YM-99                   2667156
                  YM-99 Plus              2667156

In [150]:
net_sales = model_net_sales.groupby(['BU Net Sales', 'Brand Net Sales'])['Net Sales Value'].apply(lambda x:x).to_frame()

In [151]:
net_sales

                                                               Net Sales Value
BU Net Sales Brand Net Sales BU        Brand   Model
327652       88724           FMCG      Babaji  Babaji Cream              19039
                                               Babaji Oil                90878
                                               Babaji Shampoo            35346
             145263          FMCG      Gear    Gear BB Cream             39107
                                               Gear Cream                11544
                                               Gear Oil                  21384
                                               Gear Shampoo              16689
             3619952         FMCG      Vedic   Vedic Cream               36108
                                               Vedic Oil                 22302
                                               Vedic Shampoo             35255
741965       426123          Lifestyle Jeera   M- Inners                 42238
                                               M- T Shirts               61172
                                               M-Casuals                 63056
                                               M-Formals                 54961
                                               M-Jeans                  140488
                                               M-Shoes                   64208
             3058913         Lifestyle Viva    W-Casuals                 57911
                                               W-Inners                  65336
                                               W-Lounge                  48360
                                               W-Western                144235
12640220     93665           Mobiles   Orange  O-10                    1798310
                                               O-11                    1821642
             315842          Mobiles   Sumsang S-20                    1943894
                                               S-21                    1350305
             2667156         Mobiles   YouM    YM-98                    392243
                                               YM-99                   1210668
                                               YM-99 Plus              1456002
             3294199         Mobiles   RealU   RU-10                   1510554
                                               RU-9                     281521
                                               RU-9 Plus                875081